.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.letter {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
}

.row {
  margin-bottom: 10px;
}
.row-2 {
  transform: translateX(15px);
}
.row-3 {
  transform: translateX(30px);
}
.key {
  display: inline-block;
  width: 36px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.key.Enter, .key.Del {
  width: 72px;
}